Repository padaiyal/jPopper, pull requests merged in 2021-01, with the labels that each got.

#16 Configured GitHub actions to run against the main branch
  .github/workflows/maven_macos.yml
  .github/workflows/maven_ubuntu.yml
  .github/workflows/maven_windows.yml
Labels: bug

#17 Added property utility
  src/main/java/utilities/PropertyUtility.java
  src/main/java/wordspackage/WordCounter.java
  src/main/resources/wordspackage/WordCounter.properties
  src/test/java/tests/PropertyUtilityTest.java
  src/test/java/tests/WordCounterTest.java
  src/test/resources/tests/test.properties
  src/test/resources/tests/test_remove.properties
Labels: feature

#18 Added an action to publish to GitHub packages
  .github/workflows/package_publish.yml
  pom.xml
Labels: enhancement

#14 Added README.md
  README.md
  pom.xml
Labels: documentation

#24 Added static code analysis checks via pmd
  README.md
  pom.xml
  src/main/java/utilities/PropertyUtility.java
Labels: feature

#22 Added issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_or_enhancement_request.md
Labels: documentation

#23 Added a pull request template
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Labels: documentation

#30 Migrated source code from existing packages to org.padaiyal and change packaging type to pom
  pom.xml
  src/main/java/org/padaiyal/popper/parameterconverters/ExceptionClassConverter.java
  src/main/java/org/padaiyal/popper/utilities/PropertyUtility.java
  src/main/java/org/padaiyal/popper/wordspackage/WordCounter.java
  src/main/resources/org/padaiyal/popper/wordspackage/WordCounter.properties
  src/test/java/tests/org/padaiyal/popper/parameterconverters/ExceptionClassConverterTest.java
  src/test/java/tests/org/padaiyal/popper/utilities/PropertyUtilityTest.java
  src/test/java/tests/org/padaiyal/popper/wordspackage/WordCounterTest.java
Labels: enhancement

#31 Fixed GitHub issue and PR templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_or_enhancement_request.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: bug

#32 Removed PropertyUtility
  README.md
  src/main/java/org/padaiyal/popper/utilities/PropertyUtility.java
  src/main/java/org/padaiyal/popper/wordspackage/WordCounter.java
  src/main/resources/org/padaiyal/popper/wordspackage/WordCounter.properties
  src/test/java/tests/org/padaiyal/popper/utilities/PropertyUtilityTest.java
  src/test/java/tests/org/padaiyal/popper/wordspackage/WordCounterTest.java
  src/test/resources/tests/test.properties
  src/test/resources/tests/test_remove.properties
Labels: enhancement

#36 Update README.md
  README.md
Labels: documentation

#41 Added instructions to upload to GitHub packages
  README.md
Labels: continuous deployment, documentation

#38 Add more pmd checks
  pmd_rules.xml
  pom.xml
Labels: enhancement

#43 Cache the local maven repositories in the GitHub action runners
  .github/workflows/maven_macos.yml
  .github/workflows/maven_ubuntu.yml
  .github/workflows/maven_windows.yml
Labels: continuous integration, enhancement

#50 Re-organized and updated dependency versions
  pom.xml
Labels: enhancement
